<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @site.Question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @site.Answer %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
